[2022-05-11 15:48] BrianCurtis-NOAA opened #3 "PM2.5 peaks are offset due to wrong coordinates"
There needs to be a change from radians to degrees to match what UFS uses to fix an offset in the time of the PM2.5 peaks.

[2022-05-26 20:43] #3 closed, assigned to nobody

[2022-08-04 18:40] BrianCurtis-NOAA opened #5 "ESMF_IOFMT_BIN deprecated in ESMF 8.4.0."
Issue: ESMF_IOFMT_BIN is deprecated in v8.4.0.

Fix:We have one call to ESMF_IOFMT_BIN in https://github.com/NOAA-EMC/AQM/blob/9fd5978c748de6e753de1f0663d28a2f70a1d480/src/io/aqmio/aqmio.F90#L445 but according to @JianpingHuang-NOAA there is no reading or writing of binary data in AQM and this section of code can be removed.

[2022-08-18 15:52] BrianCurtis-NOAA commented on #5
Current plans are to not delete/remove the code but find a way to keep it available to users. If a fix isn't identified soon, and the ESMF 8.4 is ready to be used in UFSWM, then I will comment out the code and make sure an issue is addressed in github for a more permanent fix.

[2022-08-19 13:34] BrianCurtis-NOAA opened #7 "Bring CMAQ fork changes for MODULE_MOD into AQM repo."
We need to move away from a CMAQ fork of our own and stick with the official CMAQ repository. This means that the code changes made to change the name of MODULE_MOD will need to be brought back into the AQM repository.

[2022-09-07 19:05] BrianCurtis-NOAA opened #9 "Add Fengsha2 dust emissions scheme into AQM"
Add the Fengsha windblown dust emission model.

Note that this is only an option and does not change results from the base configuration. Inputs will be added to the aqm.rc like any other emission sources. Required variables are the clay and sand fraction, threshold friction velocity, and drag partition.

The only differences are CMAQ specific.

[2022-09-09 18:33] BrianCurtis-NOAA commented on #7
Closing this as these changes were merged into UFS PR 1399.

[2022-09-09 18:33] #7 closed, assigned to nobody

[2022-09-12 17:23] BrianCurtis-NOAA opened #10 "AQM Needs to build in UFS debug mode"
Build UFSWM using: CMAKE_FLAGS="-DAPP=ATMAQ -DCCPP_SUITES=FV3_GFS_v15p2 -DDEBUG=ON" ./build.sh

Get warnings resolved where build fails for AQM repo files.

[2022-09-12 18:03] BrianCurtis-NOAA commented on #10
Files that need work right now:
src/model/CMAQ/CCTM/src/aero/aero6/isrpia.inc
and
src/model/CMAQ/CCTM/src/aero/aero6/isofwd.f

Lots of this: `warning #6717: This name has not been given an explicit type`

[2022-09-16 14:44] BrianCurtis-NOAA commented on #9
This was added as a part of dust scheme pr in ufs

[2022-09-16 14:44] #9 closed, assigned to nobody

[2022-09-19 17:23] drnimbusrain opened #11 "Online-CMAQ CONUS Simulations: Error from Missing GBBEPx Emissions"
Dear EMC and UFS/AQM Community:

The latest [Online-CMAQ workflow from Chan-Hoo](https://github.com/ufs-community/ufs-srweather-app/wiki/Air-Quality-Modeling) has an error when running the August 2019 case over CONUS domain (C775).  The GBBEPx emissions directory is not complete, and there are files that are missing:

Error opening NetCDF data set: /scratch2/NCEPDEV/naqfc/RRFS_CMAQ/emissions/GSCE/

[2022-09-19 17:25] bbakernoaa commented on #11
@JianpingHuang-NOAA @chan-hoo @kaiWang-NOAA

[2022-09-19 17:29] drnimbusrain commented on #11
From @KaiWang-NOAA:

The files were generated by Jianping using the old version of NCL regridding scripts. I'm not sure if those files are backed up by Jianping. In case no, I can help regenerate them using the new set of Python scripts. Just wanted to make sure of the time period, duration (e.g., 48 hr or 72 hr), and cycles (e.g., 00z or 12z) that you will need.

[2022-09-19 17:34] chan-hoo commented on #11
@drnimbusrain, due to a storage issue, the directory "/scratch2/NCEPDEV/naqfc/RRFS_CMAQ/emissions/GSCE/GBBEPx.in.C775/Reprocessed" contains the data only for three days (08/05/2019-08/07/2019). If you want to run Online-CMAQ for other dates, please ask @JianpingHuang-NOAA for the data.

[2022-09-19 17:55] JianpingHuang-NOAA commented on #11
Please use this link  on Hera

/scratch2/NCEPDEV/naqfc/Jianping.Huang/Data/emissions/GSCE/RAVE.in.793/RAVE_RT

[2022-09-19 18:01] drnimbusrain commented on #11
@JianpingHuang-NOAA I think the link you provide is for the larger domain, C793 emissions.

Where are the associated 13 km regridded GBBEPx emissions for the **CONUS C775 domain**?

Also, @chan-hoo, this seems like an issue from a workflow perspective, as these emissions paths are explicitly defined in the config.yaml file for a CONUS, C775 domain.  See sample_config/config.yaml_canopy_rrfsconus13

[2022-09-19 18:01] JianpingHuang-NOAA opened #12 "Long running time of NEXUS for the Online-CMAQ (or UFS-AQM) over the large domain"
It takes 45 minutes to generate s 72-hr NEXUS_Expt_ugly.nc file, 5 minutes for a NEXUS_Expt_pretty.nc file, and 10 minutes for the NEXUS_Expt.nc file. The total running time of NEXUS for 3 days and large domain is about an hour.   We need to reduce the running time to less than 30 minutes.

Jianping

[2022-09-19 18:09] JianpingHuang-NOAA commented on #11
/scratch2/NCEPDEV/naqfc/Jianping.Huang/Data/emissions/GSCE/GBBEPx.in.C775/Reprocessed  for CONUS domain (Hera).

[2022-09-19 18:14] drnimbusrain commented on #11
Thank you @JianpingHuang-NOAA I will update my config.yaml for CONUS tests to represent the new location, but still seems like this should be updated in the workflow as well, @chan-hoo.

[2022-09-19 18:15] bbakernoaa commented on #11
Perhaps we should think about doing what we did for UFS-Aerosols and moving the emission files to the fixed file location for the UFS.

[2022-09-19 18:19] drnimbusrain commented on #11
Agree completely @bbakernoaa We cannot be expected to keep track of multiple changing fixed file locations, where a centralized location would be extremely beneficial.

[2022-09-19 18:44] bbakernoaa commented on #11
@KaiWang-NOAA we should also think about integrating your regridding method into the workflow.  This way we don't have to store individual grids but rather just keep the RAW files and the workflow will regrid them into the current grid.

This should be done for operational use anyway

[2022-09-19 18:51] drnimbusrain commented on #11
@JianpingHuang-NOAA @chan-hoo  There is also an issue with the new file names in Jianping's directory, which I cannot find the correct one for a 48-hr forecast at:
 /scratch2/NCEPDEV/naqfc/Jianping.Huang/Data/emissions/GSCE/GBBEPx.in.C775/Reprocessed/20190801/

Should we just use the 72-hr file in these directories?  **Hourly_Emissions_regrid_rrfs_13km_20190801_t12z_h72.nc**

@chan-hoo   The curre

[2022-09-19 18:55] bbakernoaa commented on #11
@JianpingHuang-NOAA @chan-hoo @KaiWang-NOAA This is exactly why i suggested that we integrate this step into the workflow.  It is needed to properly be flexible outside and inside of the operational constraints

[2022-09-19 18:57] chan-hoo commented on #11
@drnimbusrain, according to the code management standards, any personal paths are not allowed in the authoritative repo. As @bbakernoaa said, if the data are located in the centralized location (institutional directory path), I'll be able to update its path in the configuration file.

[2022-09-19 18:58] drnimbusrain commented on #11
@chan-hoo @bbakernoaa @JianpingHuang-NOAA Seems like this is a larger issue and should be rectified ASAP to allow for a centralized location for all fix files that stay consistent throughout AQM/workflow development.  Real development by the larger group/community is near impossible at this point.

[2022-09-19 18:59] chan-hoo commented on #11
@drnimbusrain, recently, @JianpingHuang-NOAA requested to add the cycle info to the file name like ("_t12z") in the configuration. So you should change the file names.

[2022-09-19 19:03] bbakernoaa commented on #11
@chan-hoo I think that the real issue is that we shouldn't have fixed files for every grid/domain. This is a problem with the current development for research vs operations.  For both we need a job within the workflow to regrid (our current method) the GBBEPx/RAVE emissions to the target domain. This should be done within the workflow and point to the original files.  It keeps us all straight by d

[2022-09-19 19:11] drnimbusrain commented on #11
@chan-hoo That __t12z_ is already handled in create_aqm_rc_file.py:

aqm_fire_file_fn=AQM_FIRE_FILE+"_"+yyyymmdd+**"_t"+hh+"z"**+AQM_FIRE_FILE_SUFFIX

So, new config.yaml changes for CONUS 13 km domain should be the following, if these are the correct files to be pointing to from @JianpingHuang-NOAA
AQM_FIRE_DIR: /scratch2/NCEPDEV/naqfc/Jianping.Huang/Data/emissions/GSCE/GBBEPx.in.C775/Reprocessed

[2022-09-19 19:17] chan-hoo commented on #11
@bbakernoaa, @drnimbusrain, if I get a sample script (with a sample data) for this task, I'll be able to add this regriding task to the workflow.

[2022-09-19 19:23] bbakernoaa commented on #11
@KaiWang-NOAA @JianpingHuang-NOAA please help direct @chan-hoo for this step as it is being developed on your side.

[2022-09-19 19:24] chan-hoo commented on #11
@drnimbusrain, for the canopy sample,   AQM_FIRE_DIR: /scratch2/NCEPDEV/naqfc/RRFS_CMAQ/emissions/GSCE/GBBEPx.in.C775/Reprocessed
  AQM_FIRE_FILE: Hourly_Emissions_regrid_rrfs_13km
  AQM_FIRE_FILE_SUFFIX: _new48_v2.nc
In the above path: /scratch2/NCEPDEV/naqfc/RRFS_CMAQ/emissions/GSCE/GBBEPx.in.C775/Reprocessed/20190805/, file name is "Hourly_Emissions_regrid_rrfs_13km_20190805_t12z_new48_v2.nc".

[2022-09-19 19:25] drnimbusrain commented on #11
@chan-hoo Exactly, this is an issue for the canopy sample config file now that the files have changed name and changed location.  According to @JianpingHuang-NOAA, these are the new settings for ANY CONUS 13 km run, including my canopy version:

AQM_FIRE_DIR: /scratch2/NCEPDEV/naqfc/Jianping.Huang/Data/emissions/GSCE/GBBEPx.in.C775/Reprocessed
AQM_FIRE_FILE: Hourly_Emissions_regrid_rrfs_13km
AQM_F

[2022-09-19 19:45] ytangnoaa opened #13 "Point Sources Issues in UFS"
Currently the FV3-based online CMAQ puts point sources to the lowest layer, same as area sources. To explicitly treat plume rise of each point sources, one critical issue is I/O. The point source emission contains listed data. Each point source, like power plant stacks, has its own Lat/Lon, stack height, exit temperature/velocity, airmass flow rate etc. One model grid, depending on its size/locati

[2022-09-20 21:08] KaiWang-NOAA commented on #11
@drnimbusrain @bbakernoaa Thank you for bringing up the idea to integrating the fire emis regridding into the workflow. Actually this is on our to-do-list, in additional to fire emis regridding, we're also planning to update chemic IC generator and add bias-correction post-UPP into the new workflow. Anyway, I will coordinate with @JianpingHuang-NOAA and @chan-hoo on this in the near future.

[2022-09-20 21:15] ytangnoaa commented on #13
Here are the test kits for method 2.2. It includes two parts. First is the preprocessors for merging and decomposing point sources based on online CMAQ's "config.sh" and "var_defns.sh"

https://github.com/noaa-oar-arl/AQM-utils/tree/feature/decomp-pt

where https://github.com/noaa-oar-arl/AQM-utils/blob/feature/decomp-pt/sorc/decomp-pt-mpi/tests/test-hera.ksh is the testing script in hera. The use

[2022-09-23 17:01] bbakernoaa commented on #12
@JianpingHuang-NOAA I have been testing this to see what our options are.  Right now I'm performing some tests where I split MEGAN running from the rest of the anthropogenic processing. Then we create multiple jobs for MEGAN/NEXUS to simulate only 24 hours at a time. But this allows us to simulate multiple days simultaneously.  It does however create some error in the emissions (typically less tha

[2022-09-25 19:35] JianpingHuang-NOAA commented on #13
Where is your makefile for compiling the source code, decomp-ptemis-mpi.f90

[2022-09-25 20:01] ytangnoaa commented on #13
It is controlled by cmake file

https://github.com/noaa-oar-arl/AQM-utils/blob/feature/decomp-pt/sorc/decomp-pt-mpi/CMakeLists.txt

Once you checkout

git clone -b feature/decomp-pt https://github.com/noaa-oar-arl/AQM-utils.git

and build it

cd AQM-utils
module use modulefiles
module load [machine].[compiler]
mkdir build
cd build
cmake .. -DCMAKE_INSTALL_PREFIX=.. -DCMAKE_INSTALL_BINDIR=exec
make

[2022-09-25 21:04] JianpingHuang-NOAA commented on #13
The config.sh file has been changed to config.yaml file with the new SRW
regional workflow.  I had a test but failed. Can you or Chan-Hoo rework it
with the new workflow?

My test log file can be found on
Hera /scratch2/NCEPDEV/naqfc/Jianping.Huang/aqm.v7.0.9/sorc/AQM-utils/sorc/decomp-pt-mpi/tests/test.log

On Sun, Sep 25, 2022 at 4:01 PM Youhua Tang ***@***.***>
wrote:

[2022-09-30 14:24] BrianCurtis-NOAA commented on #10
More information:

With a large number of warnings resulting from the .inc file not having explicit types for its COMMON variables, the compile in debug mode fails.

The proper way to handle common blocks today is through modules. rewriting irspia.inc as a module file will take a bit of time.

The following files have include statements for irspia.inc that will need to be updated if we re-write wi

[2022-09-30 17:13] ytangnoaa commented on #13
I updated the two repositories to work with the new workflow

https://github.com/noaa-oar-arl/AQM/tree/feature/pt-source
https://github.com/noaa-oar-arl/AQM-utils/tree/feature/decomp-pt

Please try the updated PT script to generate the ready-to-input emission on
Hera

https://github.com/noaa-oar-arl/AQM-utils/blob/feature/decomp-pt/sorc/decomp-pt-mpi/tests/test-hera.ksh

On Sun, Sep 25, 2022 at 5:

[2022-10-02 17:09] rmontuoro opened #14 "CMake build system fails for serial builds"
The CMake-based build system fails to build AQM in serial mode, _i.e._ when one build job is specified.
For example, this is accomplished by setting `BUILD_JOBS=1` when building the UFS.

This bug was reintroduced by PR #8.

[2022-10-04 21:15] drnimbusrain opened #16 "Adding In-Canopy Features in UFS-SRW-AQM"
Systematic ozone overpredictions in CTMs are linked to distinct vertical gradients of ozone measured within dense forest canopies of the U.S. ([Makar et al., 2017](https://www.nature.com/articles/ncomms15243)).  For example, the typical ozone overpredictions in the eastern U.S. and Pacific Northwest in our operational NAQFC are found in regions of contiguous canopies, where the effects of canopy s

[2022-10-05 18:43] ytangnoaa commented on #13
The "feature/pt-source" branch is merged into the "develop" branch of

https://github.com/noaa-oar-arl/AQM

and the corresponding area source without PT emissions can be processed with
https://github.com/noaa-oar-arl/NEXUS/tree/feature/no_pt

[2022-10-06 13:05] JianpingHuang-NOAA commented on #13
Has the PT code including the pre-processing part been included in the new
workflow?

Thanks,

Jianping

On Fri, Sep 30, 2022 at 1:14 PM Youhua Tang ***@***.***>
wrote:

[2022-10-06 13:15] ytangnoaa commented on #13
Jianping

The PT process includes three changes.
:
1. source code in AQM, which will read the files of $run_dir/PT/pt-????.nc
2. Preprocessor to generate these input files
https://github.com/noaa-oar-arl/AQM-utils/blob/feature/decomp-pt/sorc/decomp-pt-mpi/tests/test-hera.ksh

3. remove the PT source from NEXUS process to avoid double count https://github.com/noaa-oar-arl/NEXUS/commit/beedc3b1468df

[2022-10-07 19:07] BrianCurtis-NOAA commented on #14
PR that solves this issue has been merged. Closing.

[2022-10-07 19:07] #14 closed, assigned to nobody

[2022-10-07 19:07] BrianCurtis-NOAA commented on #10
PR which addresses this issue has been merged. Closing.

[2022-10-07 19:07] #10 closed, assigned to nobody

[2022-10-11 17:44] bbakernoaa commented on #12
I have been working on this.  There is no viable solution in the short term to increase the speed directly running 72 hours with nexus for biogenics (note that for anthropogenic only the NEXUS runs very fast and scales well with CPUs).

Creating multiple run days is possible.  Preliminary tests show that it does incur some difference vs a continuous run however the errors are in the tropical regio

[2022-10-11 17:52] bbakernoaa commented on #13
@JianpingHuang-NOAA @chan-hoo @rmontuoro Has there been any movement on this? I think that there is workflow issues that need to be addressed to make this possible

[2022-10-11 18:13] JianpingHuang-NOAA commented on #13
Hi Barry,

Chan-Hoo is porting the SRW workflow to WCOSS2.   We need his help working
on this issue after the workflow is set up on WCOSS2.

Jianping

On Tue, Oct 11, 2022 at 2:10 PM Barry Baker ***@***.***>
wrote:

[2022-10-12 16:02] drnimbusrain opened #20 "Limited RAVE Emissions for NA13km Domain on WCOSS2"
@chan-hoo @JianpingHuang-NOAA @KaiWang-NOAA

The ability to run Online-CMAQ on WCOSS2 is indeed great news! Thank you!

However, I noticed that there is only a very limited RAVE emissions dataset available on WCOSS2 for running the NA13 km domain:  
**/lfs/h2/emc/lam/noscrub/RRFS_CMAQ/emissions/GSCE/RAVE.in.793/RAVE_RT
20190805  20190806  20190807**

Can the entire dataset for the NA13 domain be b

[2022-10-12 18:27] JianpingHuang-NOAA commented on #20
What time period data do you need?  We do not have real-time RAVE data
files for the large domain until next Monday. But we do have RAVE data for
the large domain but based on the interpolation of CONUS data.

Jianping

On Wed, Oct 12, 2022 at 12:02 PM Patrick Campbell ***@***.***>
wrote:

[2022-10-13 00:30] rmontuoro opened #21 "Missing operational products"
Air quality operational products, such as hourly max and average surface concentrations of ozone and PM2.5, need to be output by the model.

[2022-10-13 13:59] drnimbusrain commented on #20
@JianpingHuang-NOAA Thank you for your reply.  I am running a base test case for September 2020, and have moved the data manually to my own WCOSS2 location.  However, it of course would be good to similarly house all Online-CMAQ inputs on WCOSS2 the same as on Hera.

[2022-10-13 14:19] KaiWang-NOAA commented on #20
Hi Patrick,

Just wanted to make sure that you got the latest version of RAVE data. The
files are located
at /scratch2/NCEPDEV/naqfc/Kai.Wang/GBBEPX_fire/RAVE_NA13km/forUFSCMAQrun/G793
on Hera. For example, Hourly_Emissions_regrid_NA_13km_20201004_t12z_h72.nc
is for 72 hour forecast and
Hourly_Emissions_regrid_NA_13km_20201004_t12z_h24.nearest.nc is for 24
hour. The RAW emissions are in
/scratch2/

[2022-10-13 14:44] drnimbusrain commented on #20
@KaiWang-NOAA Thank you, as we indeed did not have the latest version of RAVE data.  Can those files please be made available at the WCOSS location?

  AQM_FIRE_DIR: /lfs/h2/emc/lam/noscrub/RRFS_CMAQ/emissions/GSCE/RAVE.in.793/RAVE_RT
  AQM_FIRE_FILE: Hourly_Emissions_regrid_NA_13km
  AQM_FIRE_FILE_SUFFIX: _h72.nc

[2022-10-13 15:22] KaiWang-NOAA commented on #20
Patrick,I don't have the write permission to /lfs/h2/emc/lam, so I made a
copy at /lfs/h2/emc/physics/noscrub/kai.wang/RAVE_fire/202009 on WCOSS2.

On Thu, Oct 13, 2022 at 10:44 AM Patrick Campbell ***@***.***>
wrote:

[2022-10-13 15:44] drnimbusrain commented on #20
Thank you @KaiWang-NOAA

[2022-10-13 17:38] rmontuoro opened #23 "Enable CMAQ's simplistic scavenging and wet removal in resolved clouds"
CMAQ-provided simplistic scavenging and wet removal schemes for resolved clouds need to be enabled in AQM.

[2022-10-13 18:19] bbakernoaa commented on #12
Here are some plots to explain the differences.  There are two simulations here: 1) a 48 hours simulation from the original date 2) a 24 hours simulation started at 24 hours

### ALL pixels

<img width="652" alt="image" src="https://user-images.githubusercontent.com/22104759/195664839-54bcfdea-6671-4c87-9a47-ab74300a0578.png">

### Maximum ISOPRENE emission from day 2 of the 48 hours simulation
<i

[2022-10-13 18:28] JianpingHuang-NOAA commented on #12
Does Fig.2 represent the difference of isoprene emissions between two
runs?  What is the percentage difference ?

Thanks,

On Thu, Oct 13, 2022 at 2:20 PM Barry Baker ***@***.***>
wrote:

[2022-10-13 18:32] bbakernoaa commented on #12
figure 3 represents the differences.  Figure 2 is the maximum base result.

Barry Baker

National Oceanic and Atmospheric Administration
Air Resources Laboratory
Physical Research Scientist
Chemical Modeling and Emissions Group Leader
NCWCP, R/ARL, Rm. 4204
5830 University Research Court
College Park, Maryland  20740
Phone: ‪(301) 683-1395‬

On Thu, Oct 13, 2022 at 2:28 PM JianpingHuang-NOAA ***@*

[2022-10-14 14:43] JianpingHuang-NOAA opened #25 "Implement bias correction technique to improve O3 and PM2.5 predictions near surface"

[2022-10-14 14:54] JianpingHuang-NOAA opened #26 "Modify UPP to post-process model's hourly-averaged O3 and PM2.5"
1) comment out to delete the calculation of PM2.5 from the UPP
2) allow UPP to convert hourly-averaged O3 and PM2.5 data format from netcdf to grib2.

[2022-10-14 15:04] JianpingHuang-NOAA opened #27 "Implement cycling capability in the workflow to support operational implementation"
To ensure forecast product deliverable on time, it is proposed to use previous cycle GFS ICs and output files to generate ICs and met LBCs for driving current cycle AQM runs. Meanwhile , previous cycle GEFS aerosol outputs are used to update aerosol LBCs.   It is required to modify the workflow to copy with this issue.

[2022-10-14 21:00] ytangnoaa commented on #13
Jianping
I updated the code/script for WCOSS2 usage with Chan-Hoo's latest workflow. You can find the changes compared the original online CMAQ
cd /lfs/h2/emc/physics/noscrub/Youhua.Tang/UFS/ufs-srweather-app
find . -name \*.orig

the AQM-utils scripts was also updated for WCOSS2 usage
https://github.com/noaa-oar-arl/AQM-utils/tree/feature/decomp-pt

You can find my run test folder for big domain

[2022-10-14 21:33] JianpingHuang-NOAA commented on #13
Youhua,

Thanks for the updates. Do you have any plots showing the difference
between before and after the code change?

Jianping

On Fri, Oct 14, 2022 at 5:00 PM Youhua Tang ***@***.***>
wrote:

[2022-10-14 22:46] ytangnoaa commented on #13
Jianping

I only ran the case with the code change. Do you have the original cold
start case for the big domain?

Thanks

Youhua

On Fri, Oct 14, 2022 at 5:33 PM JianpingHuang-NOAA ***@***.***>
wrote:

[2022-10-18 15:59] KaiWang-NOAA opened #28 "Implement the post-UPP utility in the workflow to support operational implementation"
The utility is ready for the implementation except for one issue that needs to be resolved. The issue is that the encoding of grib2 header for day-1 24-hr PM2.5 generated by the wgrib2 library cannot be recognized by the METPlus from the verification team.

The example of current header is:
"  PRODUCT TEMPLATE 4. 8: ( PARAMETER = PMTF     0 13 193 )  13 193 2 0 89 0 0 1 -1 105 0 1 255 -127 -214748

[2022-10-19 13:24] JianpingHuang-NOAA opened #29 "Rerun GEFS/Aerosol v12.3 to support AQMv7.0 retro runs"
Rerun the latest GEFS/Aerosol forecast to support the AQM v7.0 retro runs.

1) Time periods:  Dec. 16, 2021 to Feb. 28, 2022;  May 16, 2022 to Oct. 1. 2022
2) Cycles and forecast hours:   00z cycle 90-hr forecast

[2022-10-19 13:54] HaixiaLiu-NOAA commented on #29
@JianpingHuang-NOAA Can you clarify that the rerun needs to be conducted by which team? the AQM team or someone in physics team? Thanks.

[2022-10-19 13:57] JianpingHuang-NOAA commented on #29
You need to talk to Helin who is going to do the work

On Wed, Oct 19, 2022 at 9:54 AM HaixiaLiu ***@***.***> wrote:

[2022-10-19 13:59] JianpingHuang-NOAA commented on #25
1) convert the code to vertical structures
2) included the code/scripts into the workflow

[2022-10-19 14:03] HaixiaLiu-NOAA commented on #12
@bbakernoaa thank you for the plots. @JianpingHuang-NOAA @rmontuoro are we okay with the differences noticed by @bbakernoaa in emission rate btw running one 72-hr job and separating into three 24-hr jobs?

@bbakernoaa have you made updates to the workflow you listed above and the data conversion? Thank you.

[2022-10-19 17:32] yangfanglin commented on #29
@JianpingHuang-NOAA Jianping, can you document here why the rerun is needed and if any extra fields needed to be saved ?   I thought GEFS.v12.3 had been run for at least 2022.  @lipan-NOAA Li, were data from the retro and real-time GFS.v12.3 parallels archived ?

[2022-10-19 17:37] lipan-NOAA commented on #29
@yangfanglin I archived data for 2022, but only for 24 hours. I think Jianping's run needs 90 hours data.

[2022-10-19 18:08] JianpingHuang-NOAA commented on #26
The AQM v7.0 output files for 20190801 12z cycle can be found on Cactus

/lfs/h2/emc/physics/noscrub/jianping.huang/data/aqm.v7.0.c4/2019080112

[2022-10-19 18:53] HaixiaLiu-NOAA commented on #28
@KaiWang-NOAA Do you have idea who can help with fixing this issue?

[2022-10-20 02:59] yangfanglin commented on #29
@lipan-NOAA Li, can you estimate how much disk space is needed to save the required GEFS.v12.3 data from the reruns to support online-CMAQ retros ?   You can assume only 6 hourly forecast data are needed from the 00Z cycle,  up to 90 hours of forecast for each cycle.

[2022-10-21 15:00] JianpingHuang-NOAA opened #30 "RAVE data transition to operation"

[2022-10-21 15:58] JianpingHuang-NOAA opened #31 "Restart capability of AQM"
It is required to have a restart capability of model to follow NCO EE2 compliance.

[2022-10-21 18:23] lipan-NOAA commented on #29
@yangfanglin @JianpingHuang-NOAA I will work on it

[2022-10-21 18:47] HaixiaLiu-NOAA commented on #12
@bbakernoaa where period of your experiment covered for the plots you generated above? Will the differences seen in the tropical region be seen for the summer time as well? Thank you.

[2022-10-21 19:13] bbakernoaa commented on #12
This was a summer case.  This is where we will see the largest difference
in the domain.  The tropical area will not change much from season to
season.

Barry Baker

National Oceanic and Atmospheric Administration
Air Resources Laboratory
Physical Research Scientist
Chemical Modeling and Emissions Group Leader
NCWCP, R/ARL, Rm. 4204
5830 University Research Court
College Park, Maryland  20740
Phon

[2022-10-23 16:21] HaixiaLiu-NOAA commented on #12
Thank you, @bbakernoaa. Jianping would like to test the changes from ARL on this issue. Could you please work with Jianping to test your changes in the online-CMAQ? Thank you very much.

[2022-10-24 13:36] bbakernoaa commented on #12
@HaixiaLiu-NOAA As I mentioned in above.  The changes needed are in a branch. There needs to be workflow tasks created to make this happen.  @chan-hoo Could you help with this?

[2022-10-24 13:58] drnimbusrain commented on #20
@KaiWang-NOAA It seems your RAVE emissions have been moved or deleted from this location, and our Sep 2020 runs are failing on WCOSS2 again.  Can you update us on this?

@bbakernoaa

[2022-10-24 14:02] bbakernoaa commented on #20
@KaiWang-NOAA @HaixiaLiu-NOAA We really need to get this sorted out. We cannot have emission files moving directories without letting everyone know.

We really need to think about moving all emissions (anthropogenic) to a fix directory and the fire emissions to a static directory and/or HPSS and retrieve them in the workflow. This would cut down on errors like this drastically.

[2022-10-24 14:07] KaiWang-NOAA commented on #20
Patrick, the folder has been moved
to /lfs/h2/emc/physics/noscrub/kai.wang/RAVE_fire/RAVE_CONUS/202009 in
order to differentiate with the new RAVE NA dataset from NESDIS. Sorry
about that.

On Mon, Oct 24, 2022 at 9:59 AM Patrick Campbell ***@***.***>
wrote:

--

Kai Wang, Ph.D.

Lynker at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2029

College Park, MD 20740

***@***.***

(301) 683-323

[2022-10-24 14:08] drnimbusrain commented on #20
@KaiWang-NOAA Why is it in "RAVE_CONUS"?  We are ONLY running the larger NA domain.  Where are those files?

[2022-10-24 14:08] KaiWang-NOAA commented on #20
Sorry for the typo. It should
be /lfs/h2/emc/physics/noscrub/kai.wang/RAVE_fire/RAVE_NA/202009

On Mon, Oct 24, 2022 at 10:07 AM Kai Wang - NOAA Affiliate <
***@***.***> wrote:

--

Kai Wang, Ph.D.

Lynker at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2029

College Park, MD 20740

***@***.***

(301) 683-3230

[2022-10-24 14:18] KaiWang-NOAA commented on #20
Barry, Thanks for pointing this out. The new hourly real time RAVE
emissions from NESDIS just kicked in last week. We did some major updates
of the scripts/procedures to deal with those data. So it is necessary to
make changes of folders and also it's taking some time for us to
stabilize the data flow. In the near future, we will put the fire emissions
in a more static location on HPSS and update

[2022-10-25 17:53] KaiWang-NOAA commented on #20
Hi all, the NRT RAVE fire emissions over the NA domain together with 202009
(for retro case) are now available
at /NCEPDEV/emc-naqfc/2year/Kai.Wang/RAVE_fire/RAVE_NA on HPSS.

On Mon, Oct 24, 2022 at 10:18 AM Kai Wang - NOAA Affiliate <
***@***.***> wrote:

--

Kai Wang, Ph.D.

Lynker at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2029

College Park, MD 20740

***@***.***

(301) 683-3230

[2022-10-26 21:22] yangfanglin commented on #29
@lipan-NOAA have you start to the retro runs ?

[2022-10-26 21:49] lipan-NOAA commented on #29
Yes, I did. I am downloading initial conditions.

[2022-10-27 15:03] HaixiaLiu-NOAA commented on #25
@JianpingHuang-NOAA @Kai who is working on this issue. What is the status now? Please provide update on this issue. Thank you!

[2022-10-27 15:14] JianpingHuang-NOAA commented on #25
Kai is working on it.  @Kai Wang - NOAA Affiliate ***@***.***>   Can
you updated the status?

On Thu, Oct 27, 2022 at 11:03 AM HaixiaLiu ***@***.***> wrote:

[2022-10-28 19:54] lipan-NOAA commented on #29
@HaixiaLiu-NOAA @JianpingHuang-NOAA @yangfanglin @BrianCurtis-NOAA The run has started. It may take 40 days to complete all the runs.

[2022-10-30 12:48] JianpingHuang-NOAA commented on #29
It is fine with us.

Jianping

On Fri, Oct 28, 2022 at 3:54 PM lipan-NOAA ***@***.***> wrote:

[2022-10-31 13:15] ytangnoaa commented on #13
Jianping

Your issue was caused by
/lfs/h2/emc/ptmp/jianping.huang/emc.para/tmp/run_fcst.17178779.cbqs01/INPUT/NEXUS_Expt.nc

having no CO emission. It is strange, since the https://github.com/noaa-oar-arl/NEXUS/tree/develop turned off point source,
but still should have the species of CO

Barry and Patrick, could you help take a look?

Another issue, the point source directory was not linked to t

[2022-10-31 13:19] chan-hoo commented on #13
@ytangnoaa, the workflow has been updated. The link for the 'nco' mode was added to the 'run_fcst' script.

[2022-10-31 13:28] bbakernoaa commented on #13
There should definitely be CO in the output species.  You can see it here for example: https://github.com/noaa-oar-arl/NEXUS/blob/develop/config/cmaq/NEXUS_Config.rc#L919

And here as a https://github.com/noaa-oar-arl/NEXUS/blob/develop/config/cmaq/HEMCO_sa_Diagn.rc#L5

[2022-11-01 11:13] chan-hoo commented on #13
@ytangnoaa @JianpingHuang-NOAA , the hash of NEXUS has been updated in Online-CMAQ. The issue @ytangnoaa mentioned above looks resolved.

[2022-11-01 12:13] chan-hoo commented on #27
@JianpingHuang-NOAA, can you explain this issue in detail with an example? In addition, can you point me to the GFS and GEFS data directories on WCOSS2 and Hera?

[2022-11-01 13:37] JianpingHuang-NOAA commented on #27
WCOSS2:
GFS:  /lfs/h1/ops/prod/com/gfs/v16.2
GEFS:  /lfs/h1/ops/prod/com/gefs/v12.3/gefs.20221101/00/chem/sfcsig

I am not sure that we have real-time gfs and gefs/aerosol data files on
Hera.

I have scheduled a meeting with you on this issue today.

On Tue, Nov 1, 2022 at 8:13 AM Chan-Hoo.Jeon-NOAA ***@***.***>
wrote:

[2022-11-01 13:51] chan-hoo commented on #27
@JianpingHuang-NOAA , does it mean this capability is only for the real-time run? Don't you have any GEFS data files on Hera?

[2022-11-01 13:55] drnimbusrain commented on #20
@KaiWang-NOAA Thank you for putting all RAVE emissions there.

However, at some point hopefully @chan-hoo (or whoever has write access) can move all RAVE emissions to the following Online-CMAQ WCOSS2 location for common emissions:  /lfs/h2/emc/lam/noscrub/RRFS_CMAQ/emissions/GSCE/RAVE.in.793/RAVE_RT   We really shouldn't have to do extra step to pull down emissions from HPSS and store locally for

[2022-11-01 14:00] JianpingHuang-NOAA commented on #27
@Chan-Hoo Jeon - NOAA Affiliate ***@***.***>  We need the same
capability to support the retro runs.  I have one-week GEFS/Aerosol output
files (August 1-7, 2019) on Hera
at /scratch2/NCEPDEV/naqfc/Jianping.Huang/Data/GEFS_aerosol

On Tue, Nov 1, 2022 at 9:52 AM Chan-Hoo.Jeon-NOAA ***@***.***>
wrote:

[2022-11-01 14:02] chan-hoo commented on #20
@drnimbusrain, due to the space issue, I put some specific data for the engineering test (sample_config/WE2E_test) in the 'noscrub/RRFS_CMAQ' directory. Otherwise, I'll receive a warning from the system administrator. I don't have permission to write data files in the centralized locations on HPCs.

[2022-11-01 14:09] chan-hoo commented on #27
@JianpingHuang-NOAA , as cactus is on the production mode now, I don't have access to it. On WCOSS2, how many cycles per day are there in the GEFS directory? On Hera, we have only one cycle "00".

[2022-11-01 14:12] JianpingHuang-NOAA commented on #27
@Chan-Hoo Jeon - NOAA Affiliate ***@***.***>  We only have 00z
cycle  data on Hera. This will be the same as the retro since we have only
data files at 00z.

On Tue, Nov 1, 2022 at 10:09 AM Chan-Hoo.Jeon-NOAA ***@***.***>
wrote:

[2022-11-01 14:15] chan-hoo commented on #27
My question was not for Hera but for WCOSS2.

[2022-11-01 14:16] drnimbusrain commented on #20
@chan-hoo Thank you for clarifying.  Seems this is a larger issue then with WCOSS2 for us then.  @bbakernoaa

[2022-11-01 20:47] JianpingHuang-NOAA opened #33 "NEXUS failed with SRW workflow on Hera"
NEXUS failed to run with the latest SRW workflow "online-cmaq" branch on Hera. Here is the error message

ALL DAYS HERE
/scratch2/NCEPDEV/naqfc/Jianping.Huang/emissions/nexus/NEI2016v1/v2022-07/08/NEI2016v1_0.1x0.1_20160805_rwc.nc /scratch2/NCEPDEV/stmp3/Jianping.Huang/NCO_OUTPUT/tmp/nexus_emission.37330069/tmp_NEXUS/input/NEI2016v1/v2022-07/08/NEI2016v1_0.1x0.1_20190802_rwc.nc
/scratch2/NCEPDEV/n

[2022-11-01 22:45] bbakernoaa commented on #33
@drbimbusrain can you take a look at this? Can you try the latest nexus_emission step for this date?

[2022-11-02 02:27] #33 closed, assigned to nobody

[2022-11-02 02:28] JianpingHuang-NOAA commented on #33
@Chan-Hoo Jeon - NOAA Affiliate ***@***.***> @Barry Baker -
NOAA Federal ***@***.***>

If NEXUS_INPUT_DIR is pointed to
/scratch1/RDARCH/rda-arl-gpu/Barry.Baker/emissions/nexus, it works.

On Tue, Nov 1, 2022 at 6:46 PM Barry Baker ***@***.***> wrote:

[2022-11-02 22:51] KaiWang-NOAA opened #34 "Capability to output changes of tracer fields due to chemical processes"
This is for the AI/ML emulator for chemistry. We need the capability to output chemical tracers before and after different chemical processes to generate the training data.

A preliminary code modification has been attempted in the GFS-CMAQ legacy model (will put the similar change to the UFS-CMAQ later if UFS-CMAQ is desired) to write the RESTART files every 30-min for tracers before and after th

[2022-11-03 15:01] #23 closed, assigned to nobody

[2022-11-03 15:01] #5 closed, assigned to BrianCurtis-NOAA

[2022-11-03 19:45] drnimbusrain commented on #20
@KaiWang-NOAA @JianpingHuang-NOAA @chan-hoo @HaixiaLiu-NOAA

We have been continuing our online-cmaq NA domain run for Sep 2020 with latest model and RAVE fire emissions provided by @KaiWang-NOAA .  While most of the areas of CONUS look OK after spin-up, there seems to be an issue with the input fire emissions magnitude and extremely low PM2.5 in the west.  You can see our regional analysis here:

[2022-11-03 19:49] bbakernoaa commented on #20
@KaiWang-NOAA from the figures you can see that the emissions are being read in and processed but the magnitude is very low.  This indicates that the units may be different than indicated in the `aqm.rc`.  We need to get to the bottom of this for the NEW fire emission product and not the test data previously used.

[2022-11-03 22:27] KaiWang-NOAA commented on #25
@HaixiaLiu-NOAA @JianpingHuang-NOAA I'm still working on getting the scripts ready for Chan-hoo to implement into SRW. It's been delayed to due to other more urgent issues related to post-UPP and UPP. The bias-correction products will rely on those issues. Hopefully I will get this part done by early next week.

[2022-11-03 22:31] KaiWang-NOAA commented on #26
@JianpingHuang-NOAA @HaixiaLiu-NOAA For 1), As suggested by Wen Meng, in my current modified UPP code, I'm keeping the PM2.5 calculation as a legacy code and have added a switch to handle the new average PM2.5 field by skipping the PM2.5 calculation. For 2), the UPP code has been modified to convert hourly-average O3 and PM2.5 data from netcdf to grib2. Some final tuning is needed before the code

[2022-11-03 22:40] KaiWang-NOAA commented on #28
@HaixiaLiu-NOAA @JianpingHuang-NOAA, a lot of discussions have taken place in the past couple of weeks involving the people from EIB, VPPPGB, CPC, and NCEP lib team. I have also made a few attempts to change the encoding. I think we're closing to get a final solution here. The current plan is that I will generate one set of sample data using the time encoding of -1-22 for day1 06z cycle for the do

[2022-11-04 17:01] KaiWang-NOAA commented on #20
@bbakernoaa @drnimbusrain @JianpingHuang-NOAA I compiled several slides that I did before when QA the RAVE data regridding. https://docs.google.com/presentation/d/1Xq8rwSXsqwRwOujKaypH8VbM9JtA0y70Vfa5XwBKxSI/edit#slide=id.g1841e488be7_0_193. See slides 6 and 8 for the fluxes with the units consistent with the model ready emissions. It looks to be ok for me. We may need to look further at what exac

[2022-11-04 19:27] KaiWang-NOAA commented on #20
@bbakernoaa @bbakernoaa Here are some slides that Jianping presented at the end of Sept. which covers the same Sept. 2020 episode. https://docs.google.com/presentation/d/12Jse29OvM4eqcB6Dkev1U_N2SCkSh0Pw/edit#slide=id.g15c34760966_0_118
c8 used the same set of RAVE emissions with cold start from Sept. 1, 2020. As you can see on slide 4, the PM2.5 concentration kept building up, which is much diffe

[2022-11-07 16:33] drnimbusrain commented on #20
@JianpingHuang-NOAA This would be very helpful if you could provide any information on your Sample Config or aqm.rc file for your previous run.  While you PM2.5 is still very low (purple line CONUS ave ~ 10 ug/m3 by Sep 18) and likely not doing well in the fire regions (although there is no regional analysis for R9 for example):
![image](https://user-images.githubusercontent.com/26631222/200363193

[2022-11-07 20:18] JianpingHuang-NOAA commented on #20
@Patrick Campbell - NOAA Affiliate ***@***.***>  This is
the one that I used for the v7.0.c8 run on WCOSS2
(/lfs/h2/emc/physics/noscrub/jianping.huang/nwdev/packages/aqm.v7.0.4/regional_workflow/ush/config.sh).
You are right. The UFS-AQM predictions were lower than operational
forecasts (NAM-CMAQ) which used BlueSky fire emissions. We had a meeting
with the groups of Shobha and Xiaoyang on RAVE em

[2022-11-08 02:10] drnimbusrain commented on #20
@JianpingHuang-NOAA Yes, thank you for your comments.  I agree there is some issue in RAVE fire emissions during this time, but not sure of the cause.  It seems a larger issue than what has initially been suggested.  If you look at the region R9 or R10, or really any of our analysis, it is not even realistic:

![image](https://user-images.githubusercontent.com/26631222/200457577-b367db4f-c3ee-4300

[2022-11-08 14:37] bbakernoaa commented on #20
@JianpingHuang-NOAA it would be helpful if you could repeat this experiment using the latest code and files to make sure that we are not setting this up incorrectly.  What we are seeing here is a massive under prediction of fires that is beyond what has been shown in any of our simulations with online or offline versions.  Again we do see a signal but it is far below what we expect and far away fr

[2022-11-08 19:21] JianpingHuang-NOAA commented on #20
@Barry Baker - NOAA Federal ***@***.***>  I will do.  Meanwhile,
I  was working on the NRT testing these two days and noticed the NEXUS has
some issues with the latest workflow. I am still testing it. @Patrick
Campbell - NOAA Affiliate ***@***.***>  Can you point me
to the location of your runs again?

On Tue, Nov 8, 2022 at 9:37 AM Barry Baker ***@***.***> wrote:

[2022-11-08 19:36] drnimbusrain commented on #20
@JianpingHuang-NOAA Thank you for having a check.  My current test run continuing on in Sep 18-20, 2020, is found here:  _/lfs/h2/oar/ptmp/Patrick.C.Campbell/expt_dirs/aqm_cold_aqmna13_1day_arl_base_wetdepfix_firex1000_20200918_20200920_

Please ignore in the aqm.rc file that I am testing an arbitrary increase (x1000) in fire emissions to gauge the impact on the extremely low PM2.5 concentrations.

[2022-11-09 14:24] drnimbusrain commented on #20
@JianpingHuang-NOAA @KaiWang-NOAA You can see how much better our operational model with GBBEPx is doing compared to my online-cmaq run with RAVE for R9 and R10:

![image](https://user-images.githubusercontent.com/26631222/200855289-01476eb9-c5fd-4390-b403-98740193b00f.png)

@JianpingHuang-NOAA Do you see any issues with my aqm.rc or config.yaml files for my run?  From my vantage point, it seems l

[2022-11-09 15:40] JianpingHuang-NOAA commented on #20
@Patrick Campbell - NOAA Affiliate ***@***.***>
Thanks for the update.  Does "oper" represent NAM-CMAQ simulations? I am
not sure what wildfire emissions were used by "Oper".  BlueSky or
GBBEPx?  @Ho-Chun
Huang ***@***.***>  Do you remember?

In addition, I noticed that your NEXUS emissions have +37 values. Something
must be wrong with your anthropogenic emission processing. I tried to rerun
the c

[2022-11-09 15:47] Ho-ChunHuang-NOAA commented on #20
is opr NAM-CMAQ or current operational CMAQ?  in Sept 2020 NAM-CMAQ is the operational AQM.  GFS-CMAQ is the operational AQM after July 2021.

If NAm-CMAQ then it is HMS-based Bluesky fire emission
If GFS-CMAQ then it is daily GBBEPx fire emissions with prescribed diurnal profile for PM25 and FRP+ wild-fire only with spatial filter.

[2022-11-09 15:50] Ho-ChunHuang-NOAA commented on #20
@JianpingHuang-NOAA @drnimbusrain
Sorry I reply in github issue directly, hope you received notice.

[2022-11-09 16:57] drnimbusrain commented on #20
@JianpingHuang-NOAA  @Ho-ChunHuang-NOAA  The "opr" here is the current operational model, NACC-CMAQ.  This as you know uses GBBEPx fire emissions with prescribed diurnal profile.

[2022-11-09 17:06] drnimbusrain commented on #20
@JianpingHuang-NOAA I also do not think this issue necessarily has to do with the anthropogenic emissions, as other regions outside of fires look OK for PM2.5, and the ozone looks reasonable in our runs.
**Outside of the west the PM2.5 looks reasonable, such as the non-fire northeast R2 (albeit slightly underpredicted)**
![image](https://user-images.githubusercontent.com/26631222/200894120-b30500c

[2022-11-09 17:09] JianpingHuang-NOAA commented on #20
I can show the problem via google meeting if you like.

On Wed, Nov 9, 2022 at 12:06 PM Patrick Campbell ***@***.***>
wrote:

[2022-11-09 17:27] bbakernoaa commented on #20
@JianpingHuang-NOAA please put the problem here so that everyone can see it.  if you know what the issue is we all need to know.

[2022-11-09 17:48] JianpingHuang-NOAA commented on #20
@Barry Baker - NOAA Federal ***@***.***>  Please see the message
that I posed at 10:40 am this morning

"....
In addition, I noticed that your NEXUS emissions have +37 values. Something
must be wrong with your anthropogenic emission processing. I tried to rerun
the case with the new workflow but it failed to download the gfs files from
HPSS. It was ok with the first release version on WCOSS2 by Ch

[2022-11-09 17:49] drnimbusrain commented on #20
@JianpingHuang-NOAA This is not clear as to what the issue may be with anthropogenic emissions in my run, and does not seem related to potential wildfire emissions issue.  Can you please further clarify/show here this issue you found?

[2022-11-09 17:51] bbakernoaa commented on #20
@drnimbusrain I completely agree.  This does not seem to have anything related to the anthropogenic emissions.  It is clearly something with the wildfire emissions

[2022-11-09 17:53] chan-hoo commented on #12
@bbakernoaa, what can I do for you to resolve this issue?

[2022-11-09 18:00] bbakernoaa commented on #12
@chan-hoo can we setup a meeting to discuss this.  It may be easier than typing everything here at the moment.

[2022-11-09 18:07] chan-hoo commented on #12
Sure. I'll check your calendar and set up a meeting.

[2022-11-09 18:19] JianpingHuang-NOAA commented on #20
I am checking your  *aqm.t12z.NEXUS_Expt.nc <http://aqm.t12z.NEXUS_Expt.nc>
* file at /
*lfs/h2/oar/ptmp/Patrick.C.Campbell/expt_dirs/aqm_cold_aqmna13_1day_arl_base_wetdepfix_firex1000_20200918_20200920/2020091912/INPUT*

Please see the issue with the line highlighted with red color in the figure
below.

[image: image.png]

On Wed, Nov 9, 2022 at 12:52 PM Barry Baker ***@***.***>
wrote:

[2022-11-09 19:12] drnimbusrain commented on #20
@JianpingHuang-NOAA  There is no figure here to reference.  Please further clarify.

[2022-11-09 20:38] bbakernoaa commented on #20
@KaiWang-NOAA can you help out out and repeat this simulation? We really need an independent verification of this.

[2022-11-10 15:08] JianpingHuang-NOAA commented on #20
@Barry Baker - NOAA Federal ***@***.***>  I guess that NEXUS has
some issues with the new workflow. Please see O3 prediction on Slide 2.

https://docs.google.com/presentation/d/1z_o1WET8mU590CREuWMWdjT1SUbziNXNDPxyLgn25w4/edit#slide=id.g16f20c7e4e2_0_9

On Wed, Nov 9, 2022 at 3:38 PM Barry Baker ***@***.***> wrote:

[2022-11-10 15:25] bbakernoaa commented on #20
@JianpingHuang-NOAA Nothing has really changed in the nexus step.  I don't understand what you are showing here or what you think should be happening. There is no details at all to what you mention may be a problem.

[2022-11-10 15:34] JianpingHuang-NOAA commented on #20
Please check the emission file, aqm.t12z.NEXUS_Expt.nc generated by NEXUS
at /scratch2/NCEPDEV/stmp3/Jianping.Huang/emc.para/com/aqm/v7.0/aqm.v7.0.c15.20190801/12
(Hera)

You will  see a similar issue to what I saw from Patrick's run. The
emissions show +37 values for CO, ISOP, etc.

On Thu, Nov 10, 2022 at 10:26 AM Barry Baker ***@***.***>
wrote:

[2022-11-10 15:42] bbakernoaa commented on #20
@JianpingHuang-NOAA please create a separate issue for this.  It is not answering problems related to the issue described above

[2022-11-10 15:57] JianpingHuang-NOAA opened #35 "NEXUS generating extremely large value of emissions with the online-cmaq srw workflow"
I am testing the new workflow with UFS-AQM for the large domain run. However, I am seeing extremely large values of emissions (e.g., CO, ISOP) generated by NEXUS.

Please check the emission file, aqm.t12z.NEXUS_Expt.nc
/scratch2/NCEPDEV/stmp3/Jianping.Huang/emc.para/com/aqm/v7.0/aqm.v7.0.c15.20190801/12  (Hera).

The model runs were completed successfully without any failure or warning but the res

[2022-11-10 17:38] chan-hoo commented on #12
@bbakernoaa, can you merge your 'feature/megan_move' branch into the 'develop' branch?

[2022-11-10 18:20] BrianCurtis-NOAA commented on #27
Implemented in Workflow

[2022-11-10 18:20] #27 closed, assigned to nobody

[2022-11-10 23:04] KaiWang-NOAA commented on #20
Hi Barry and Patrick,

I think there are two separate issues that we're discussing here.

1) The first one is about RAVE emissions. Initially you and Patrick
indicated the potential unit issue for the RAVE emis files from me. However
as I pointed out in
https://github.com/NOAA-EMC/AQM/issues/20#issuecomment-1303886667, the
regridding and unit conversions were done correctly from raw RAVE. So I
don

[2022-11-10 23:31] drnimbusrain commented on #20
@KaiWang-NOAA

I agree there are two separate issues, and disagreed with @JianpingHuang-NOAA adding the NEXUS anthropogenic issue here.  Hopefully, he will open up a separate issue on that.

For the main issue (1) about RAVE emissions test in our Sep 2020 retro case run.  I understand that you have done QA/QC on the units/regridding.  However, if they are correct, and the online-cmaq workflow read

[2022-11-11 16:30] KaiWang-NOAA commented on #20
Thanks Kai.  Model runs with RAVE seem to be doing very well in other
regions, except in Region 9 and 10.  Now, how do you guys verify
transport in the model?

Shobha

On 11/10/2022 6:03 PM, Kai Wang - NOAA Affiliate wrote:

--
Shobha Kondragunta, Ph.D
Lead, Aerosols and Atmospheric Composition Science Team
GeoXO Atmospheric Composition Instrument Product Lead
NOAA NESDIS Center for Satellite Appl

[2022-11-11 17:30] drnimbusrain commented on #20
R9 and R10 are also the near source fire regions,  and by virtue of ozone
and PM2.5 doing well everywhere but the fire regions, seems like overall
large scale transport is OK.  Seems like something else in the fire regions
in R9 and R10 is wrong.  Has anyone else tested a major fire period with
the RAVE 2020 emissions?

On Fri, Nov 11, 2022, 11:30 AM KaiWang-NOAA ***@***.***>
wrote:

[2022-11-14 02:49] KaiWang-NOAA commented on #20
Hi Shobha,

The long-range transport is still a speculation for the moment. We will
need to get the wind field evaluation from Ho-chun to better understand it.

Hi Patrick and Barry,

Jianping did a new c15 run for the 2020 episode. Please see some
preliminary MONET analysis.

https://docs.google.com/presentation/d/1pjyWJIw9HqJNmo5FMARF3bWSQvpR7zkSxJU_aa1JqCU/edit#slide=id.g18c566fc633_0_17

The P

[2022-11-14 14:36] drnimbusrain commented on #20
@JianpingHuang-NOAA @KaiWang-NOAA Thank you for performing your independent Sep 2020 case test. I agree that your run looks much better for PM2.5 in the western fire regions compared to our online-cmaq run, with the understanding that the major PM2.5 from fires in the west are still underpredicted (but not as bad as our run).

I assume Jianping's run is also a cold start, where the PM2.5 does quic

[2022-11-14 14:53] bbakernoaa commented on #20
@JianpingHuang-NOAA Also if any changes were made to any of the input.nml files etc we need to know that.  It should all be committed back to the repository so that all of us can do the simulations.

[2022-11-14 14:55] bbakernoaa commented on #20
@KaiWang-NOAA @JianpingHuang-NOAA Are these using the exact same fire emissions that @drnimbusrain did? or is this using the old conus only input files.  There is no context here and we need to understand what is happening.  Only one of us can actually run this model at this point and its extremely worrying

[2022-11-14 15:12] drnimbusrain commented on #20
@bbakernoaa Yes, that is another excellent point I didn't mention.  Please @JianpingHuang-NOAA @KaiWang-NOAA , please point us to the locations of the RAVE 2020 NA emissions and config.yaml/aqm.rc configurations used in this run so we can compare them.

**Patrick's Online-CMAQ RAVE 2020 Emissions for NA Domain (WCOSS Run):**   /lfs/h2/oar/arl/noscrub/Patrick.C.Campbell/RAVE_RT/G793
**config.yaml f

[2022-11-14 15:28] JianpingHuang-NOAA commented on #20
@Patrick Campbell - NOAA Affiliate ***@***.***>  I have
shared my NRT run location and branches with you in the past.  Here is my
current real-time run location

/lfs/h2/emc/physics/noscrub/jianping.huang/nwdev/packages/aqm.v7.0.15/ush
(Cactus)

https://github.com/JianpingHuang-NOAA/ufs-srweather-app.git (Github)
(branch NRTC18)

I have spent time checking your emission inputs and pointed out the

[2022-11-14 15:36] drnimbusrain commented on #20
@JianpingHuang-NOAA Thank you.  I do not fully disagree, and yes it certainly is possible the NEXUS-generated issue that persists has some impact, but we thought it best to document as a separate issue.  I also just wanted to make sure we have the latest directories from you to compare these runs, since we are seeing different results.  Thank you for simulating the case and for providing more deta

[2022-11-14 16:01] KaiWang-NOAA commented on #20
@bbakernoaa @drnimbusrain, the RAVE fire files that Jianping used are in /lfs/h2/emc/physics/noscrub/jianping.huang/data/RRFS_CMAQ/emissions/GSCE/RAVE.in.C793/RAVE_RT/202009*, which are identical to those under my folder at /lfs/h2/emc/physics/noscrub/kai.wang/RAVE_fire/RAVE_NA/202009/

[2022-11-14 16:13] drnimbusrain commented on #20
@JianpingHuang-NOAA @KaiWang-NOAA  @bbakernoaa

I confirm that our RAVE 2020 emissions inputs are identical, and our aqm.rc files are the same for the appropriate settings.

There are some differences in the config.yaml file, but I notice that you pointed me to your NRT config.yaml.  Is this identical to @JianpingHuang-NOAA 's retro Sep 2020 run case just performed?   Below is the diff for our con

[2022-11-14 16:48] bbakernoaa commented on #35
@JianpingHuang-NOAA @BrianCurtis-NOAA Although I cannot see what exactly you are talking about from this plot. I can confirm that some values are being populated with non-null values in the [run_nco_combine_ant_bio.sh](https://github.com/noaa-oar-arl/NEXUS/blob/develop/utils/run_nco_combine_ant_bio.sh) script.  I have already asked @zmoon to work on fixing this script.

@zmoon any updates?

[2022-11-14 17:17] zmoon commented on #35
Working on it now.

[2022-11-14 18:00] JianpingHuang-NOAA commented on #13
I am reopening this issue since we are seeing over-prediction of PM2.5. Please see Slid 4 from the [link](https://docs.google.com/presentation/d/1I4zeOXRGjrNU8i-J39_Q3-hP721KD1s2/edit#slide=id.g18c4493ec17_0_18).

[2022-11-14 18:29] bbakernoaa commented on #13
@JianpingHuang-NOAA

2 things...
1) when you share the links can you open the files up to anyone at NOAA to see? I don't have access to see this file you linked to.

2) Can you please be more descriptive when you post here? It would be very helpful for others to get more context into the issue so that we can help. From what you posted there is no context into why this is being reopened.

[2022-11-14 18:33] JianpingHuang-NOAA commented on #13
Just share with everyone who is able to access the link.

I have added the information on Slides 4 and 5 and will provide more
details since I am going to present tomorrow ( still working on)😀

On Mon, Nov 14, 2022 at 1:29 PM Barry Baker ***@***.***>
wrote:

[2022-11-14 19:41] HaixiaLiu-NOAA commented on #21
@BrianCurtis-NOAA DO you have any update on this issue? Thank you.

[2022-11-14 19:49] BrianCurtis-NOAA commented on #21
Sure! We will be merging in Raffaele's PR once some testing is done. This provides a product for operational means. Then we have the option to use the pm2.5 calculation and min/max to output separately or use code i'm finishing up to send pm2.5 over to FV3 to use the functionality that is already there.

[2022-11-14 19:51] HaixiaLiu-NOAA commented on #21
Thank you very much for your information @BrianCurtis-NOAA Is this a quick work that can be finished this week?

[2022-11-14 20:06] BrianCurtis-NOAA commented on #21
Thats the goal. @JianpingHuang-NOAA is also working on another way to do the PM2.5 max/min just to have a couple options available.

[2022-11-14 20:13] JianpingHuang-NOAA commented on #21
Yes, I have tested the FMS (Fire Management System) to calculate and write
out hourly-averaged O3 to a seperate chem file successfully. But the
hourly-averaged O3 was written to the mode computational grids.

On Mon, Nov 14, 2022 at 3:06 PM Brian Curtis ***@***.***>
wrote:

[2022-11-14 20:49] HaixiaLiu-NOAA commented on #13
@ytangnoaa @bbakernoaa Would you please provide an update on this issue? Based on the discussion (between Raffaele and you) from last Friday's EMC internal FIRE meeting, current code setup still does not work correctly, would you please share your plan on how to have this issue solved and an estimated date to solve this? This is the last major scientific issue to be solved before the code freeze c

[2022-11-14 21:01] bbakernoaa commented on #13
@HaixiaLiu-NOAA This was just brought to us today and the issue was reopened.  We have not had a moment to figure out exactly what is happening or why. Little analysis has occurred so far.

[2022-11-14 21:16] ytangnoaa commented on #13
The major issues of the high PM2.5 are related to overgrowth of secondary organic aerosols, like APCSOJ, and they are not directly emitted. The CMAQ 5.2.1's chemistry has this known issue. We are investigating the solution

[2022-11-14 21:20] HaixiaLiu-NOAA commented on #13
@ytangnoaa Thank you for the update. What is your plan to solve this and could you please provide me an estimated date to solve this issue? We are really close to the code freeze date now. I can use the date you provide to update the AQM issue spreadsheet. Thank you.

[2022-11-14 21:39] ytangnoaa commented on #13
In principle, we can follow the previous solution for the high APCSOJ related to other emissions, to solve the same issue related to point sources. If it can be done quickly, we may catch up the deadline.

[2022-11-14 21:58] zmoon commented on #35
This was a masking issue, which I think we have resolved in https://github.com/noaa-oar-arl/NEXUS/pull/16 (also dropped ~ 90 s from run time).

[2022-11-16 15:11] JianpingHuang-NOAA commented on #35
I just checked out the Online-CMAQ workflow and tested it. I still saw the same issue. What is the hash number for the updated NEXUS? Meanwhile, can you send the new hash number to Chan-Hoo for the WF update?

Thanks,
Jianping

[2022-11-16 16:07] zmoon commented on #35
@JianpingHuang-NOAA , seems it wasn't as fixed as I thought, but I have a new fix (https://github.com/noaa-oar-arl/NEXUS/pull/18) and then after we merge that I will provide the new hash.

Those high values we were seeing are the [default fill value](https://github.com/noaa-oar-arl/NEXUS/pull/16#issuecomment-1314232050) for the dtype though, so I suspect they might have been automatically masked o

[2022-11-16 20:06] bbakernoaa opened #36 "FENGSHA not properly initialized"
Hi I noticed an issue taking a look at @JianpingHuang-NOAA run related to fengsha.  Essentially fengsha was not properly initialized so the model has not been running with fengsha in the RT tests nor the recent historical runs completed.

fengsha needs to be included here: https://github.com/ufs-community/ufs-srweather-app/blob/online-cmaq/parm/aqm.rc#L32-L36 for it to properly be enabled.  Otherw

[2022-11-16 20:13] JianpingHuang-NOAA commented on #36
Ok, this is new or not? I got continuous failures after I checked out the
online-cmaq workflow with the PM2.5 calculation code today which I did not
see in the past.  I am going back to test the ufs-model without pm2.5 code
and see whether it is ok. Thanks !

On Wed, Nov 16, 2022 at 3:07 PM Barry Baker ***@***.***>
wrote:

[2022-11-16 20:23] zmoon commented on #36
@JianpingHuang-NOAA before, FENGSHA was just silently skipped so wouldn't have caused such issue. We discovered the input file issue only in ufs-community/ufs-srweather-app#449 after properly enabling FENGSHA.

[2022-11-16 20:35] JianpingHuang-NOAA commented on #36
Yes, I agree.
I checked the aqm.rc file and location of input and its dimension
/lfs/h2/emc/physics/noscrub/jianping.huang/data/emissions/nexus/Dust/FENGSHA_p8_10km_inputs_AQM_NA_13km.nc,
and saw it

dimensions:

*   x = 768 ;        y = 528 ;*
        time = UNLIMITED ; // (12 currently)

However, the model does not fail and also not provide any warning message.
NCO does not want to see this.  If

[2022-11-16 20:42] zmoon commented on #36
That is to be expected with current online-cmaq branch, because, although the EMC sample config has fengsha supposedly enabled, this wasn't reflected in the template aqm.rc `emission_sources` list, so fenghsa was never run [^a].

We have a bit more info on this in https://github.com/ufs-community/ufs-srweather-app/pull/449 . I understand that when @chan-hoo tested it with fengsha properly enabled,

[2022-11-16 20:54] chan-hoo commented on #36
@JianpingHuang-NOAA, if you checked out the workflow today, it won't work correctly. Please check out the hash `3ef50eb`. Sorry for any inconvenience. I'm trying to fix the issue now.

[2022-11-16 21:03] BrianCurtis-NOAA commented on #36
I have a PR coming into UFSWM that will add the fengsha section to aqm.rc but will not add it to the emissions section because it seems to stop the model from running. I think this issue once addressed, we can enable fengsha in aqm.rc in the UFSWM.

I know that @JianpingHuang-NOAA has fengsha enabled in one of his workflows, but am surprised this issue never arose in his testing.

[2022-11-17 14:07] bbakernoaa commented on #36
@BrianCurtis-NOAA The new input files fixes this issue for the C793 grid.

or on hera here: /scratch1/RDARCH/rda-arl-gpu/Barry.Baker/emissions/nexus/FENGSHA/Online_CMAQ/FENGSHA_p8_10km_inputs_C793_AQM_13km.nc

These files should be moved on wcoss to where the other inputs are.

I looked at @JianpingHuang-NOAA aqm.rc that he posted in the other issue, it did not enable fengsha completely. Although

[2022-11-18 16:06] #21 closed, assigned to rmontuoro

[2022-11-19 13:09] ytangnoaa commented on #13
Fixed the issues in point source, and one file needs to be updated
https://github.com/noaa-oar-arl/AQM/blob/feature/pt-source/src/model/src/PT3D_DEFN.F

[2022-11-19 15:26] HaixiaLiu-NOAA commented on #13
From Youhua:

"Jianping

Thank you for your and Ho-Chun's efforts. I found the bug. You need not change "aqm.rc", but need update one file

https://github.com/noaa-oar-arl/AQM/blob/feature/pt-source/src/model/src/PT3D_DEFN.F

This issue was due to the complex chemical species lists (more than 6) and corresponding mapping in that file.
Some species lists, like GC_EMIS, are not unique, meaning that

[2022-11-21 22:02] HaixiaLiu-NOAA commented on #13
@ytangnoaa IF you have any results regarding the impact of this point source bug fix on the AQM simulation, please put them here. Thank you.

[2022-11-22 03:02] JianpingHuang-NOAA opened #39 "NEXUS failed in the NRT on 20221121 at 06z cycle"
@bbakernoaa
I am testing the latest workflow online-cmaq (hash=6990782) with ufs-weather-model (d31ee42) and NEXUS (d409056). However, the NEXUS failed three times around 43 to 44 minutes on 20221121 at 06z cycle and the NRT run stopped.

Three NEXUS run log files can be found on Cactus at
/lfs/h2/emc/ptmp/jianping.huang/emc.para/output/20221121
 nexus_emission_2022112106_s00.id_1669073434.log.0
n

[2022-11-22 03:08] JianpingHuang-NOAA commented on #12
I checked out the latest workflow ([6990782](https://github.com/ufs-community/ufs-srweather-app/commit/6990782fd6ef33ac4577bf26e7560a748d917d9f) with NEXUS ([6990782](https://github.com/ufs-community/ufs-srweather-app/commit/6990782fd6ef33ac4577bf26e7560a748d917d9f) and still saw very little improvement of NEXUS runtime. It still takes 46-47 minutes of running split job and about 10-11 minute for

[2022-11-22 05:31] bbakernoaa commented on #12
@JianpingHuang-NOAA I wish that @chan-hoo would not have committed directly to the online-cmaq branch with the update until it was completed. It has caused a lot of confusion.

What is happening is he added the capability to split the nexus_emission workflow task into multiple tasks controlled by the NEXUS_NUM_SPLIT variable in the config.yaml. This will allow us to split the nexus steps into N su

[2022-11-22 14:22] bbakernoaa commented on #39
@JianpingHuang-NOAA This looks like a problem with the input file

```/lfs/h2/emc/lam/noscrub/RRFS_CMAQ/nexus_emissions/NEI2016v1/v2022-07/11/NEI2016v1_0.1x0.1_20161124_rwc.nc /lfs/h2/emc/ptmp/jianping.huang/emc.para/tmp/nexus_emission_00.19355361.cbqs01/tmp_NEXUS/00/input/NEI2016v1/v2022-07/11/NEI2016v1_0.1x0.1_20221124_rwc.nc```

Have you tried this day on HERA pointing to `/scratch1/RDARCH/rda-

[2022-11-22 14:50] bbakernoaa commented on #39
I looked a little more into the file it looks like there is something wrong with the longitudes in that file

[code]

[2022-11-22 14:53] bbakernoaa commented on #39
It is messed up Hera too.  I'll go through and process them to fix coordinates right now

[2022-11-22 15:28] bbakernoaa commented on #39
@JianpingHuang-NOAA

I was able to fix the file on HERA.  Can you copy it over to wcoss2 and try again

I also processed the rest of the files and have found a few more that have this same issue

[code]

[2022-11-22 15:31] JianpingHuang-NOAA commented on #39
Where is the location on Hera?

Thanks,

Jianping

On Tue, Nov 22, 2022 at 10:29 AM Barry Baker ***@***.***>
wrote:

[2022-11-22 15:32] HaixiaLiu-NOAA commented on #39
if these files are supposed to be fix files, should we move them to a central location?

[2022-11-22 15:49] bbakernoaa commented on #39
You can find it here: `/scratch1/RDARCH/rda-arl-gpu/Barry.Baker/emissions/nexus/NEI2016v1/v2022-07`

@HaixiaLiu-NOAA I have brought this up several times.  ARL will maintain a research version in which we will continue to test and improve things (as is one of our tasks) but we should move these to a fixed file location much like we did for UFS-Aerosols where we moved all the emission files to the

[2022-11-22 15:54] ytangnoaa commented on #13
Here are the plots before and after the fixing.

![spatial-apcsoj-before-fix-2019071612](https://user-images.githubusercontent.com/23638430/203360382-eefec596-3dd3-44b0-abc0-59c92181ae47.png)
![spatial-apcsoj-after-fix-2019071612](https://user-images.githubusercontent.com/23638430/203360420-ff301946-1521-4862-bc7c-068d5f796699.png)

[2022-11-22 16:49] JianpingHuang-NOAA commented on #39
The corrected files were copied to Cactus and Dogwood.

Regarding the file's locations, I agree with both suggestions, but we do
not have permissions to copy our input and fix files to the location like
/scratch1/NCEPDEV/global/glopara. We need to ask Kate for help every time
for any correction. Given the large uncertainties (e.g., change or errors)
during the development stage, we can keep what w

[2022-11-22 18:57] bbakernoaa commented on #39
@JianpingHuang-NOAA if this corrected this issue lets close it

[2022-11-22 19:00] JianpingHuang-NOAA commented on #39
I am testing it now. I will let you know once the test is passed.

Thanks,

Jianping

On Tue, Nov 22, 2022 at 1:57 PM Barry Baker ***@***.***>
wrote:

[2022-11-22 19:44] JianpingHuang-NOAA commented on #39
@Barry Baker - NOAA Federal ***@***.***>
The first part of NEXUS job was completed for 20221121 at 06z cycle. I
think the issue is fixed.

Thanks,

Jainping

On Tue, Nov 22, 2022 at 2:00 PM Jianping Huang - NOAA Affiliate <
***@***.***> wrote:

[2022-11-22 21:27] JianpingHuang-NOAA commented on #13
Youhua @ytangnoaa

I am testing the latest  workflow online-cmaq ([3d7069e](https://github.com/JianpingHuang-NOAA/ufs-srweather-app/commit/3d7069eb8abefcd670518d2e9edc8372537fdaf8) and the ufs-weather-model (d31ee42) for 20221121 at 06z cycle and met failures with the first part of point source job.

Please see the run log files
/lfs/h2/emc/ptmp/jianping.huang/emc.para/output/20221121
point_source

[2022-11-22 22:31] JianpingHuang-NOAA commented on #13
Youhua, is this your updated code ?

https://github.com/noaa-oar-arl/AQM/tree/feature/pt-source

[2022-11-22 22:45] ytangnoaa commented on #13
Yes. One file ( PT3D_DEFN.F )  was updated. You can also find it

/lfs/h2/emc/physics/noscrub/Youhua.Tang/UFS/ufs-srweather-app/sorc/ufs-weather-model/AQM/src/model/src/PT3D_DEFN.F

Youhua

On Tue, Nov 22, 2022 at 5:37 PM JianpingHuang-NOAA ***@***.***>
wrote:

[2022-11-23 00:55] ytangnoaa commented on #13
It is a holiday bug in python script or NEI inventory. The Thanksgiving day
of  2016  (for NEI2016) should be 2016-11-24. For unknown reason, the EPA
used 2016-11-25.
It also affects the days before and after Thanksgiving. The python scripts
are updated to fit the NEI dataset

https://github.com/noaa-oar-arl/AQM-utils/tree/feature/decomp-pt/python_utils
stack-pt-merge.py
stack-pt-merge-wcoss2.py

[2022-11-23 03:49] JianpingHuang-NOAA opened #41 "Large PM2.5 predictions with version 1 goes LBC data files"
According to Kai's presentation on last Friday, we need to switch  the chemical LBCs from geos5_bndy_**v2**.c793 to geos5_bndy_**v1**.c793 to resolve the overprediction of O3 in the NRTC15. However we are seeing the large PM2.5 predictions back like what we saw with GEOS5_BNDY_v2 files after the switch done on 11/19/2022. Please take a quick view of PM2.5 prediction.

![image](https://user-images.

[2022-11-23 13:30] JianpingHuang-NOAA commented on #13
Hi Youhua,

The real-time test seems to pass, but we met *another failure* with
point-source code run for all the cases on August 1-7, 2019.

Please see example run log files for 20190801 at 12z

:/lfs/h2/emc/ptmp/jianping.huang/emc.para/output/20190801
point_source_2019080112.id_1669177702.log.0
point_source_2019080112.id_1669177702.log

Meanwhile, for the NRT run C18, the forecast model runtime

[2022-11-23 13:33] chan-hoo commented on #39
@HaixiaLiu-NOAA, the NEXUS emission and point source data files should be located in the central locations of the HPC machines in order to merge the Online-CMAQ into the UFS SRW App in the future. As @bbakernoaa mentioned above, I remember @bbakernoaa and @ytangnoaa requested these to EMC management (maybe to @KateFriedman-NOAA). Please confirm this.

[2022-11-23 13:45] HaixiaLiu-NOAA commented on #36
@bbakernoaa Has this issue been resolved? Do you have any test results demonstrating whether correctly enabling Fengsha has an impact? Thanks.

[2022-11-23 13:50] ytangnoaa commented on #13
Please try the workflow-version python script that Chan-Hoo just created
https://github.com/NOAA-EMC/AQM-utils/blob/develop/python_utils/stack-pt-merge.py

The point-source alone should only slightly increases the running time. I tested the 24-hr big-domain run: without PT (3295 seconds), with PT (3308 seconds).

If you include other changes in your C18, you may want to check their impacts

I chec

[2022-11-23 14:02] HaixiaLiu-NOAA commented on #39
@JianpingHuang-NOAA, can you let @chan-hoo know once your tests confirm all the fix files are ready to be copied over to the EMC fix file central locations? Thank you.

[2022-11-23 14:41] bbakernoaa commented on #36
@HaixiaLiu-NOAA Yes this should be resolved with the new input file for the C793 domain as well as the workflow addition to properly add fengsha to the emission list https://github.com/ufs-community/ufs-srweather-app/pull/449

[2022-11-23 14:42] bbakernoaa commented on #36
I'll close the issue

[2022-11-23 14:42] #36 closed, assigned to nobody

[2022-11-23 14:44] bbakernoaa commented on #39
@chan-hoo I completely agree.  This should be in a fixed file location.

[2022-11-23 15:34] JianpingHuang-NOAA commented on #36
Hi Barry,

We need to run a dust event and make sure that the code works properly.

Jianping

On Wed, Nov 23, 2022 at 9:42 AM Barry Baker ***@***.***>
wrote:

[2022-11-23 15:36] bbakernoaa commented on #36
This was done at the time of merging.  There is no need to go back and rehash that in my
opinion.  Nothing with the scheme itself changed here.  Just an input file and correctly adding it to the workflow

[2022-11-23 15:43] bbakernoaa commented on #36
i.e. there really isn't any code change here

[2022-11-23 15:49] JianpingHuang-NOAA commented on #36
Good to know that. Just want to make sure everything is in the right place
before we do a long period of retro runs.

Thanks,

Jianping

On Wed, Nov 23, 2022 at 10:43 AM Barry Baker ***@***.***>
wrote:

[2022-11-23 15:53] HaixiaLiu-NOAA commented on #39
I'll give Kate a heads up to the need for the AQM fix files to be placed in the central EMC fix file location.

[2022-11-23 16:52] HaixiaLiu-NOAA commented on #41
@bbakernoaa Could you please take a look at this issue? Thanks.

[2022-11-23 17:59] bbakernoaa commented on #41
@ytangnoaa can you take a look at this.

[2022-11-23 20:00] ytangnoaa commented on #41
The version_1 LBC is updated in Hera
/scratch2/NCEPDEV/naqfc/RRFS_CMAQ_NA13km/LBCS/RRFS_NA13km_GEOS5_v1

Original Version_1 had an issue of coarse number concentration, and I replace it with the Version_2 data

[2022-11-23 20:10] JianpingHuang-NOAA commented on #41
Thanks!

Jianping

On Wed, Nov 23, 2022 at 3:01 PM Youhua Tang ***@***.***>
wrote:

[2022-11-25 14:54] HaixiaLiu-NOAA commented on #41
@JianpingHuang-NOAA What is the status of this issue? Thanks

[2022-11-25 21:08] JianpingHuang-NOAA commented on #41
Youhua, PM2.5 predictions look better now with the fixed version 1  geos
LBC files. However,  O3 predictions are over 1.2 ppmv at the top level,
which may cause strong and look-weird patterns of O3 prediction along the
lateral boundary layer at the model level.  Please see a plot of surface O3
on 20221116 at 06z cycle at the 1st forecast hour below as an example. I
believe that O3 LBCs files were

[2022-11-25 22:27] ytangnoaa commented on #41
Where are your files? I will take a look

Thanks

Youhua

On Friday, November 25, 2022, JianpingHuang-NOAA ***@***.***>
wrote:

--
NOAA Air Resources Laboratory
5830 University Research Court #4257
College Park, Maryland  20740
Phone: 301-683-1388

[2022-11-25 23:16] JianpingHuang-NOAA commented on #41
Here is an example for 20221116 at 06z cycle on Cactus
1) AQM_LBCS_DIR:
 /lfs/h2/emc/physics/noscrub/jianping.huang/data/UFSAQM_NA13km_GEOS5_LBC_v1

2) expt_dirs
/lfs/h2/emc/physics/noscrub/jianping.huang/nwdev/packages/expt_dirs/ufs_na_rt_v15

3) input/output files
/lfs/h2/emc/ptmp/jianping.huang/emc.para/com/aqm/v7.0/aqm.v7.0.c15.20221116/06
(Cactus)

On Fri, Nov 25, 2022 at 5:27 PM Youhua Tang

[2022-11-28 01:42] lipan-NOAA commented on #29
@HaixiaLiu-NOAA @yangfanglin @JianpingHuang-NOAA The retrospectives were completed.

HPSS:/NCEPDEV/emc-naqfc/5year/Li.Pan/GSDCHEM/LBC,

Please test it and let me know if there is a problem.

[2022-11-28 02:11] HaixiaLiu-NOAA commented on #29
@lipan-NOAA Thank you so much.

[2022-11-28 03:11] HaixiaLiu-NOAA commented on #12
@bbakernoaa Would you please update the status of this issue? Thank you very much!

[2022-11-28 12:56] ytangnoaa commented on #41
Thank you, Jianping. The issue looks related to the ozone seasonal bias of the NASA GEOS model. I am looking for alternative global models for the lateral boundary condition

[2022-11-28 13:19] JianpingHuang-NOAA commented on #41
Youhua, Thanks for the confirmation. I am going to close this ticket and
open another one for LBCs of O3.

On Mon, Nov 28, 2022 at 7:56 AM Youhua Tang ***@***.***>
wrote:

[2022-11-28 13:19] #41 closed, assigned to nobody

[2022-11-28 14:05] KateFriedman-NOAA commented on #39
Catching up after being on leave...let me know if/when there are updated gocart_emissions files to pull into the global fix file copies.

These sound like new fix files. The current set I maintain are global-specific (GFS/GEFS) (fix and gocart_emissions). I would need to speak with EIB management about potentially adding new fix files to our global set, assuming that is what you're requesting here

[2022-11-28 22:03] JianpingHuang-NOAA opened #42 "Seasonal biases of the GEOS5-generated O3 LBCs"
@bbakernoaa @ytangnoaa
Currently we face a pressing issue on overprediction of O3 in winter and underprediction in summer. There are two versions of GEOS5-simulations-generated monthly mean LBCs available for supporting the AQM v7.0 implementation.

1) V1: with the 100-ppbv maximum constraint on O3 LBCs. This may cause under-prediction of O3 near surface over CONUS domain in summer time, which is

[2022-11-29 13:50] bbakernoaa commented on #12
@HaixiaLiu-NOAA Please see https://github.com/ufs-community/ufs-srweather-app/pull/494

[2022-11-29 20:07] BrianCurtis-NOAA opened #44 "AQM should run with a debug build of UFSWM"
An NCO requirement is to run the UFSWM AQM with Debug build.

[2022-11-29 20:12] bbakernoaa commented on #42
So, one thing to just clarify here.  The AQMv6 operational NAQFC uses lateral boundary conditions from a 2006 GEOS-Chem simulation.  UFS-AQM lateral boundary conditions are generated from a multi-year GEOS-CHEM simulation.  @ytangnoaa can you clear this up with more details?

[2022-11-29 20:14] bbakernoaa commented on #42
![image](https://user-images.githubusercontent.com/22104759/204638312-d2baceb9-b03c-4c1c-accc-b9db8fcf11be.png)
This is a plot of the o3_left lateral boundary condition (going from the top of the atmosphere to the bottom) and the o3mr_left (which is the gfs o3 concentrations)

Zooming into the troposphere

![image](https://user-images.githubusercontent.com/22104759/204638749-5db6a4ad-d624-45e1-89d

[2022-11-29 20:23] ytangnoaa commented on #42
UFS-AQM LBC uses GEOS-5 lateral boundary conditions. This LBC works OK for summertime, but has high ozone biases during winter. It is the issue of the global model's seasonal bias. I am looking for alternative global models, such as GFDL's AM4.

[2022-11-29 20:29] ytangnoaa commented on #42
The capped ozone value was reduced to 0.1 ppm (version1)

/scratch2/NCEPDEV/naqfc/RRFS_CMAQ_NA13km/LBCS/RRFS_NA13km_GEOS5_v1

However, it still has the low-altitude high ozone, ~ 60  ppb, over Northern Pacific and Arctic

[2022-11-30 01:48] JianpingHuang-NOAA commented on #39
@bbakernoaa NEXUS failed again on 20221129 at 06z cycle

Please check the following run log file on Cactus

/lfs/h2/emc/ptmp/jianping.huang/emc.para/output/20221129/nexus_emission_2022112906_s00.id_1669761504.log

[2022-11-30 14:00] chan-hoo commented on #12
@JianpingHuang-NOAA, @HaixiaLiu-NOAA, the above PR has been merged into the 'online-cmaq' branch. You can adjust the number of splits by the parameter `NUM_SPLIT_NEXUS` in `config.yaml`.

[2022-11-30 14:03] JianpingHuang-NOAA commented on #12
Thanks !

On Wed, Nov 30, 2022 at 9:01 AM Chan-Hoo.Jeon-NOAA ***@***.***>
wrote:

[2022-11-30 14:55] bbakernoaa commented on #39
It looks like the culprit is `/lfs/h2/emc/lam/noscrub/RRFS_CMAQ/nexus_emissions/NEI2016v1/v2022-07/12/NEI2016v1_0.1x0.1_20161209_nonpt.nc`

The coordinates are messed up here (ie they don't have any).  I'll go through and double check them all again.

Fixed files

[code]

You should be able to copy these from HERA to wcoss.  Hera location: `/scratch1/RDARCH/rda-arl-gpu/Barry.Baker/emissions/nexus/

[2022-11-30 16:30] bbakernoaa commented on #39
I did a much more robust check of the files looking for lat Lon time in the coordinates with the appropriate length and values and all the appropriate netcdf attributes.  This is why nexus failed was because of the coordinates and netcdf attributes in the input file.

[2022-11-30 17:57] JianpingHuang-NOAA commented on #39
Ok, can you get this fixed soon?

[2022-11-30 18:01] bbakernoaa commented on #39
All you should have to do is copy of those files and resubmit your job

[2022-11-30 18:11] JianpingHuang-NOAA commented on #39
Where do I get a copy of those files? from Hera?

On Wed, Nov 30, 2022 at 1:01 PM Barry Baker ***@***.***>
wrote:

[2022-11-30 19:39] JianpingHuang-NOAA commented on #39
The NEXUS run still failed at  reading the following file

/lfs/h2/emc/lam/noscrub/RRFS_CMAQ/nexus_emissions/NEI2016v1/v2022-07/12/
NEI2016v1_0.1x0.1_20161202_rwc.nc
/lfs/h2/emc/ptmp/jianping.huang/emc.para/tmp/nexus_emission_00.20110705.cbqs01/tmp_NEXUS/00/input/NEI2016v1/v2022-07/*12/NEI2016v1_0.1x0.1_20221202_rwc.nc
<http://NEI2016v1_0.1x0.1_20221202_rwc.nc>*

This is the same as before. I am n

[2022-11-30 19:43] HaixiaLiu-NOAA commented on #29
@JianpingHuang-NOAA Should this issue be closed?

[2022-11-30 19:51] #29 closed, assigned to nobody

[2022-11-30 19:51] JianpingHuang-NOAA commented on #29
Yes.

On Wed, Nov 30, 2022 at 2:43 PM HaixiaLiu ***@***.***> wrote:

[2022-11-30 19:51] bbakernoaa commented on #39
@JianpingHuang-NOAA this log doesn't actually show what is happening.... it is showing the linked file not the actual NEXUS simulation output.  Please look at the NEXUS.log and PET logs in the run directory as I've mentioned before.

[2022-11-30 22:07] JianpingHuang-NOAA commented on #39
@bbakernoaa

 I checked the NEXUS.log and PET*log files and did not see much error message. Instead, I saw the following error message with the OUTPUT.186116 file at  /lfs/h2/emc/ptmp/jianping.huang/emc.para/tmp/nexus_emission_00.20113756.cbqs01/

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

HEMCO: Opening /lfs/h2/emc/ptmp/jianping.huang/emc.para/tmp/nexus_emissi